.status-badge {
  @include font-size(1.2);
  background-color: darken($pure-light-gray, 2);
  border-radius: 2rem;
  color: $white !important;
  line-height: 1.2;
  padding: .2rem 0;
  text-align: center;
  width: 48%;
}
