.btn-primary {
  @include button;
}

.btn-secondary {
  @extend .button;
  @extend .hollow;
}

.btn-disabled {
  @include button;
  @include button-disabled;
}

.btn-upload {
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }

  .icon {
    margin-right: ($global-margin / 2);
  }
}

.btn-simple {
  @include font-size(1.4);
  color: $primary-color;
  font-weight: $global-weight-bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.btn-search {
  @extend .btn-simple;
  @include font-size(1.5);

  .icon {
    margin-right: $global-margin;
  }
}
