input[type=checkbox],
input[type=radio] {
  display: none;

  + label {
    background-repeat: no-repeat;
    line-height: 21px;
    margin-left: 0;
    padding-left: 26px;
  }
}

input[type=checkbox] {
  + label {
    background-image: url('../img/radio_checkbox.svg');
  }

  &:checked + label {
    background-position: 0 -42px;
  }
}
