.container {
  background: $white;
  border-radius: 2px;
  box-shadow: 0 2px 4px $shadow-color;
  margin-bottom: $global-margin;
  padding: $global-padding;

  @include breakpoint(medium) {
    margin-bottom: $global-margin;
    padding: ($global-padding * 2);

    &.no-margin {
      margin-bottom: 0;
    }

    &.half {
      padding: $global-padding;
    }
  }

  &.no-bottom {
    margin-bottom: 0;
  }

  &.border-top {
    border-top: 3px solid $pure-light-gray;
  }
}

.no-results {
  box-shadow: none;
  padding: ($global-margin * 5);
}

.button-container {
  display: block;
  margin-bottom: $global-margin;
  margin-top: ($global-margin / 2);
  text-align: center;
}

%container {
  @extend .container;
}
