html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.index-page {
  @include grid-row(12);
  padding-top: 2rem;

  .title {
    @include font-size(3);
    display: block;
    font-weight: $global-weight-bold;
  }

  .sub-title {
    @include font-size(2);
    display: block;
  }

  .about {
    @include grid-column(12);
    margin-top: 1rem;
    text-align: center;

    .author {
      display: block;
      font-weight: $global-weight-bold;
    }

    .updated {
      @include font-size(1.4);
      display: block;
    }
  }
}

.main-content {
  margin-top: $global-margin;
}

.fixed-bar-wrapper + .main-content {
  margin-top: 0;
}

.two-textboxes {

  input[type=text] {
    display: inline-block;
    width: 42%;
  }

  span {
    @include font-size(1.4);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.client-services {

  .icon.arrow-drop-right {
    font-size: 7px;

    &::before {
      background-position: 0em -5.7em;
    }
  }

  .icon::before {
    margin-bottom: .35rem;
  }
}

.canceled-service {
  @include font-size(1.4);
  border-radius: .2rem;
  background-color: #31393A;
  color: $white;
  padding: .4rem .6rem;
  text-transform: uppercase;
}

.margin-top__normal {
  margin-top: ($global-margin * 2);
}

.service-menu {
  display: inline-block;
  margin-left: .3rem;
  top: -.2rem;

  .service-menu__link::after {
    margin-top: -7px !important;
    transition: all .2s;
  }

  .is-active {

    .service-menu__link::after {
      transform: rotate(180deg);
    }

    a {
      color: $black !important;
    }
  }
}

.service-submenu {
  left: -2rem !important;
}

@keyframes user-tab {
  from {
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  to {
    height: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@keyframes user-tab__close {
  from {
    height: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  to {
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@keyframes header_fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes table_fadein {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
