%m-b {
  display: inline-block;
  margin-bottom: $global-margin;
}

%m-t {
  margin-top: $global-margin;
}

%m-b__2x {
  display: inline-block;
  margin-bottom: ($global-margin * 2);
}

%m-t__2x {
  margin-top: ($global-margin * 2);
}

.margin-bottom {
  @extend %m-b;
}

.margin-top {
  @extend %m-t;
}

.margin-bottom--2x {
  @extend %m-b__2x;
}

.margin-top--2x {
  @extend %m-t__2x;
}
