// Font Size Mixin
@mixin font-size($rem-base: 1.5) {
    font-size: ($rem-base * 10) + px;
    font-size: $rem-base * .625 + rem;
  }
  
  //SASS mixin for :before and :after background images
  @mixin before-after-background($font-size, $icon-color, $height, $margin-left, $margin-right, $before, $after) {
    line-height: $height;
    position: relative;
    z-index: 1;
  
    &:before, &:after {
      color: $icon-color;
      display: inline-block;
      font-size: $font-size;
      line-height: $height;
      vertical-align: middle;
      z-index: -1;
    }
  
    &:before {
      content: $before;
      margin-right: $margin-right;
    }
  
    &:after {
      content: $after;
      margin-left: $margin-left;
    }
  }
  
  
  // Counting number of child elements
  @mixin with-count($n) {
    @if $n == 1 {
      &:first-child:nth-last-child(1) {
        @content;
      }
    }
    @else {
      &:first-child:nth-last-child(#{$n}),
      &:first-child:nth-last-child(#{$n}) ~ & {
        @content;
      }
    }
  }
  
  // Worten Box (Background White, BoxShadow)
  @mixin w-box ($background-color, $x, $y, $blur, $shadow-color) {
    @include box-shadow($x, $y, $blur, $shadow-color);
    background-color: $background-color;
  }
  
  // Color Mixin
  @mixin w-color($class-color, $color) {
    .color__#{$class-color} {
      color: $color;
    }
  }
  
  /**
   * Text color based on its background.
   * @param  {Number} $color Color.
   * @return {Number} Color.
   */
  @function set-button-text-color($color) {
      @if lightness($color) > 55 {
          @return $black;
      }
      @else {
          @return $white;
      }
  }
  
  /**
   * Vertical align anything
   * @param {value} $position
   * return none
   */
  
  @mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  /**
   * Placeholder Mixin
   */
  @mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content};
  }
  
  /**
    * Mixin for multiline
    */
  @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
  
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
  
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }
  
  /**
   * Mixin for background scroll effect
   */
   @mixin scrollBackground($color) {
    background:
          /* Shadow covers */
          linear-gradient($color 30%, rgba(255,255,255,0)),
          linear-gradient(rgba(255,255,255,0), $color 70%) 0 100%,
  
          /* Shadows */
          radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.3), rgba(0,0,0,0)),
          radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.3), rgba(0,0,0,0)) 0 100%;
      background-repeat: no-repeat;
      background-color: $color;
      background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  
      /* Opera doesn't support this in the shorthand */
      background-attachment: local, local, scroll, scroll;
   }
  