.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 10.1em 42.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.alert:before {
      background-position: 0em 0em;
      width: 1.8em;
      height: 1.6em;
  }




  .icon.alert-red:before {
      background-position: 0em -1.6em;
      width: 1.6em;
      height: 1.4em;
  }




  .icon.arrow-down:before {
      background-position: 0em -3em;
      width: 1.4em;
      height: 1.6em;
  }




  .icon.arrow-drop-down:before {
      background-position: 0em -4.6em;
      width: 1.6em;
      height: 0.8em;
  }




  .icon.arrow-drop-right:before {
      background-position: 0em -5.4em;
      width: 0.8em;
      height: 1.6em;
  }




  .icon.back:before {
      background-position: 0em -7em;
      width: 1.5em;
      height: 1.3em;
  }




  .icon.cancel:before {
      background-position: 0em -8.3em;
      width: 1.3em;
      height: 1.3em;
  }




  .icon.cancel-small:before {
      background-position: 0em -9.6em;
      width: 0.8em;
      height: 0.8em;
  }




  .icon.check:before {
      background-position: 0em -10.4em;
      width: 1.4em;
      height: 1em;
  }




  .icon.clip:before {
      background-position: 0em -11.4em;
      width: 1.4em;
      height: 1.3em;
  }




  .icon.clip-red:before {
      background-position: 0em -12.7em;
      width: 1.7em;
      height: 1.6em;
  }




  .icon.close:before {
      background-position: 0em -14.3em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.close-small:before {
      background-position: 0em -15.9em;
      width: 0.8em;
      height: 0.8em;
  }




  .icon.global-earth:before {
      background-position: 0em -16.7em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.logout:before {
      background-position: 0em -18.1em;
      width: 1.4em;
      height: 1.8em;
  }




  .icon.mobile:before {
      background-position: 0em -19.9em;
      width: 0.7em;
      height: 1.4em;
  }




  .icon.not-found:before {
      background-position: 0em -21.3em;
      width: 10.1em;
      height: 11.8em;
  }




  .icon.phone:before {
      background-position: 0em -33.1em;
      width: 1.6em;
      height: 1.5em;
  }




  .icon.search:before {
      background-position: 0em -34.6em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.search-white:before {
      background-position: 0em -36.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.tv:before {
      background-position: 0em -37.8em;
      width: 1.8em;
      height: 1.5em;
  }




  .icon.usb-mobile:before {
      background-position: 0em -39.3em;
      width: 1em;
      height: 1.6em;
  }




  .icon.user:before {
      background-position: 0em -40.9em;
      width: 1.6em;
      height: 1.6em;
  }





