.ws-block-header {
  @include clearfix;
  z-index: 0;
}

.header-fadein {
  animation: header_fadein .5s;
}

.ws-bl-header-title {
  @extend %title-header;
  display: inline-block;
}

.ws-block-header-left {
  @extend .float-left !optional;
}

.ws-block-header-right {
  @extend .float-right !optional;
}
