.drop-file-form {
  padding: 0;
}

.drop-file-box {
  border: 2px dashed $light-gray;
  padding: ($global-padding * 4);
  text-align: center;
}

.drop-file-uploaded-files {
  font-size: 12px;
  margin: $global-margin 0;
}
