.loading-wrapper {
  margin-top: 20rem;
}

.loader,
.loader:after {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.loader {
  animation: loading_animation 1.1s infinite linear;
  border-bottom: .7em solid darken($white, 15);
  border-left: .7em solid $primary-color;
  border-right: .7em solid darken($white, 15);
  border-top: .7em solid darken($white, 15);
  font-size: 10px;
  margin: 60px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
}

@-webkit-keyframes loading_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
