.user-tab {
  animation: user-tab .3s;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 0;
  height: 5rem;
  overflow: hidden;

  .form-data {
    margin-bottom: 0;
  }
}

.user-tab__close {
  animation: user-tab__close .3s;
  border-bottom: 0;
  display: none;
  height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.fixed-bar-wrapper {
  position: relative;
  z-index: 1;
}

.fixed-bar {
  background-color: #f8f8f8;
  left: 0;
  padding-top: 1.5rem;
  position: fixed;
  right: 0;
  width: 100%;
}
