.search-active {
  overflow: hidden;
}

.wser-search {
  background-color: $white;
  box-shadow: 0 0 5px hsla(0, 0, 70%, .5);
  color: $dark-gray;
  float: left;
  width: 100%;

  .wrapper {
    @include grid-row(12);

    @include breakpoint(large) {
      width: 75%;
    }
  }

  .search-bar {
    @include grid-column(12);
    position: relative;
    text-align: center;

    @include breakpoint(large) {
      @include grid-column(8);
      @include xy-cell-offset(2);
    }

    .searchbox {
      @include font-size(1.6);
      border-color: transparent;
      box-shadow: none;
      display: inline-block;
      margin-top: 1rem;
      transition: all .2s;
      width: 65%;

      &:focus {
        border-bottom: 1px solid $light-gray;
      }
    }

    button {
      margin-bottom: .5rem;
      margin-left: .5rem;
    }

    .cancel-small {
      background-color: lighten($light-gray, 5);
      border-radius: 3rem;
      left: -1rem;
      padding: .4rem .6rem;
      top: .7rem;

      &::before {
        position: relative;
        top: -.05rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .filters {
    @include grid-column(12, 0);
    animation: header_fadein .5s;
    overflow: hidden;
    margin-bottom: 1rem;

    form {
      padding: 0;
    }

    input[type=text],
    select,
    button {
      margin-bottom: 0;
    }
  }
}

.searchresults-footer {
  @include font-size(1.4);
  @include grid-row(12);

  .half {
    @include grid-column(6);
  }

  .results {
    color: $medium-gray;
  }

  .results-by-page {
    margin-left: 1rem;
  }
}

.searchresults-empty {
  background-color: $white;
  box-shadow: 0 0 5px hsla(0, 0, 70%, .5);
  padding: 4rem;

  .wrapper {
    background-color: red;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    width: 50%;
  }
}

.no-results,
.page-results {
  animation: table_fadein .5s;
}

.insta-search {
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 5px hsla(0, 0, 70%, .5);
  color: $dark-gray;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 61px;
  transition: all .2s;
  width: 100%;
  z-index: 999;

  .close {
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .insta-search__label {
    @include font-size(1.7);
    margin-left: .7rem;
  }

  .wrapper {
    @include grid-row(12);
    margin-bottom: $global-margin;
    margin-top: $global-margin;
    height: 10rem;

    @include breakpoint(medium) {
      width: 95%;
    }

    @include breakpoint(large) {
      width: 75%;
    }
  }

  .search-bar {
    @include grid-column(12);
    position: relative;
    top: 20rem;

    @include breakpoint(large) {
      @include grid-column(12);
    }

    input[type='number'] {
      @include font-size(4);
      background-color: transparent;
      border-color: transparent;
      border-bottom: 1px solid $light-gray;
      box-shadow: none;
      display: inline-block;
      height: auto;
      margin-top: .5rem;
      font-weight: $global-weight-bold;
      width: 75%;

      @include breakpoint(large) {
        width: 85%;
      }

      &::placeholder {
        color: darken($light-gray, 10);
      }
    }

    button {
      margin-bottom: .5rem;
      margin-left: .5rem;
    }

    .search {
      display: none;
    }
  }

  .search-bar__results {
    @include grid-column(12);
    position: relative;
    top: 0;

    @include breakpoint(large) {
      @include grid-column(6);
      @include xy-cell-offset(3);
    }

    input[type='number'] {
      @include font-size(1.6);
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      display: inline-block;
      margin-top: .5rem;
      font-weight: $global-weight-normal;
      width: 75%;

      &:focus {
        border-bottom: 1px solid $light-gray;
      }
    }

    button {
      margin-bottom: .5rem;
      margin-left: .5rem;
    }

    .cancel-small {
      background-color: lighten($light-gray, 5);
      border-radius: 3rem;
      height: 20px;
      line-height: 20px;
      text-align: center;
      top: 1rem;
      width: 20px;

      &::before {
        position: relative;
        top: -.05rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.filters{
  @include grid-row(12);
  background-color: $white;
  box-shadow: 0 2px 4px $shadow-color;
  padding: $global-padding;
  margin-bottom: .5rem;

  .filter {
    @include grid-column(12, 0);
    animation: header_fadein .5s;
    overflow: hidden;
    margin-bottom: 1rem;

    form {
      padding: 0;
    }

    input[type=text],
    select,
    button {
      margin-bottom: 0;
    }
  }
}
