
.table-wrapper {
  @include table-scroll;
}

.ws-table {
  border: 0;

  thead {
    background-color: transparent;
    border: 0;
    font-weight: $global-weight-bold;
    text-transform: uppercase;

    th {
      @include font-size(1.3);
      padding: 1.2rem;
    }
  }

  tbody tr {
    @include font-size(1.4);
    box-shadow: 0 2px 4px $shadow-color;
  }

  td {
    padding: .5rem 1.2rem;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    span {
      color: $medium-gray;
      display: block;
    }
  }
}

.clickable-row {
  transition: all .2s;

  &:hover {
    cursor: pointer;
    background-color: darken($pure-light-gray, 2);
  }
}

.service-status {
  min-width: 10rem;

  .btn-secondary {
    background-color: $white;
    margin-bottom: 0;
  }
}

.searchfooter-footer {
  @include font-size(1.4);
  font-weight: $global-weight-light;

  .half {
    display: inline-table;
    width: 49%;
  }

  .results {
    color: $medium-gray;
    margin-right: ($global-margin / 2);
  }

  .results-by-page {

  }

  .current-page {
    font-weight: $global-weight-bold;

    &::after {
      color: $primary-color;
      content: '>';
      margin: 0 ($global-margin / 2);
    }
  }

  .total-pages {
    color: $medium-gray;
  }
}
