.w-nav-tabs-container {
  margin: 0;
  margin-bottom: 1rem;
}

.w-nav-tabs {
  ul {
    @extend .no-bullet;
    @include xy-grid(horizontal, true);
    margin-bottom: 0;
    text-align: center;
  }

  li {
    @include xy-cell(auto, $gutter-output: false);
  }

  a {
    color: $medium-gray;
    font-size: 80%;
    font-weight: $global-weight-bold;
    text-transform: uppercase;

    @include breakpoint(large) {
      font-size: 85%;
    }

    &.active {
      color: $primary-color;
    }
  }
}
