.slider-arrow {
  cursor: pointer;
  font-size: 0;
  height: 24px;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;

  &.slick-disabled {
    cursor: default;
    opacity: .2;
  }
}

.slider-prev {
  background-image: url('../img/slider-prev.svg');
  left: -25px;
}

.slider-next {
  background-image: url('../img/slider-next.svg');
  right: -25px;
}

