.dashboard {
  margin-bottom: $global-margin;
  position: relative;
}

.dashboard-title {
  @extend %title-header;
  color: $primary-color;
  text-align: center;
}

.dashboard-element {
  a {
    color: $dark-gray;
  }

  img {
    margin: ($global-margin * 2) auto;
  }
}

.dashboard-element-wrapper {
  @extend %container;
  margin: $global-margin;
  padding: ($global-padding * 2);
}

.dashboard-progress-el {

  &:first-child {
    margin-top: ($global-padding * 2);
  }
}

.dashboard-values {
  color: #5f8fae;
  margin-bottom: $global-margin;
  text-align: center;

  span {
    font-size: 36px;
    font-weight: $global-weight-bold;
    display: block;

    > small {
      color: darken($light-gray, 5);
      font-size: 20px;
    }
  }

  small {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.dashboard-meta-info {
  @include clearfix;

  span {
    font-size: 12px;
    font-weight: $global-weight-semibold;
    margin-bottom: ($global-margin / 2);
    text-transform: uppercase;
  }

  a {
    color: $dark-gray;
  }
}

.dashboard-progress-footer span {
  color: $medium-gray;
}

.progress-bar {

  img {
    margin: 0 auto;
    width: 100%;
  }
}
