form {
  .grid-container:not(:last-child) {
    margin-bottom: ($global-margin * 2)
  }
}

.form-row {
  margin-bottom: $global-margin;

  @include breakpoint(large) {
    margin-bottom: ($global-margin * 2);
  }
}

.form-section-title {
  @extend %title-header;
  margin-bottom: $global-margin;
}

.form-data {
  display: block;
  font-size: rem-calc(14);
  font-weight: $global-weight-normal;
  margin-bottom: ($global-margin * 2);

  &.inline {
    display: inline;
  }
}

label .icon {
  margin-right: .5rem;
}

.form-file {
  background-color: darken($pure-light-gray, 4);
  border: 1px solid transparent;
  border-radius: .2rem;
  display: inline-block;
  font-size: rem-calc(12);
  margin: 0 ($global-margin / 2) ($global-margin / 2) 0;
  transition: all .2s;
  padding: .3rem 1rem;

  &:hover {
    background-color: darken($pure-light-gray, 2);
    cursor: pointer;
  }

  .close-small {
    position: relative;
    right: -.7rem;
  }

  i {
    margin-right: .5rem;
  }
}

.form-title {
  @include font-size(1.4);
  display: block;
  font-weight: $global-weight-bold;
  margin: $global-margin 0 ($global-margin / 2) 0;
  text-transform: uppercase;
}

.user-history {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:hover {

    .form-edit,
    .form-delete {
      display: inline;
    }
  }

  .form-data {
    margin-bottom: .5rem;
  }

  .form-info {
    color: $black;
    display: block;
    font-size: rem-calc(12);
    font-weight: $global-weight-light;
  }

  .form-date {
    color: $medium-gray;
    font-size: rem-calc(12);
    font-weight: $global-weight-normal;

    &::before {
      content: '•';
      margin-left: ($global-margin / 3);
      margin-right: ($global-margin / 3);
    }
  }

  .form-edit {
    border-left: 1px solid $light-gray;
    display: none;
    margin: 0 ($global-margin / 2);
    padding-left: ($global-margin / 2);
    text-transform: uppercase;
  }

  .form-delete {
    display: none;
    text-transform: uppercase;
  }

  label {
    display: inline;
  }
}

.form-footer {
  margin-top: ($global-margin * 2);
}

.form-service {
  position: relative;

  .close {
    position: absolute;
    right: 3rem;
    top: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

::-ms-clear {
  display: none;
}

.phone-data,
.mobile-data,
.net-data {

    .number {
      display: inline;
      width: 61%;
    }

    .country {
      display: inline;
      width: 35%;
    }
}
