.header_wrap {
  background: $primary-color;
  color: $white;
  z-index: 5;

  &.header_search_wrap {
    height: 115px;
  }
}

.header-with-search {
  height: 10rem;
  position: relative;
  z-index: 10;
}

.wser-topbar {
  @include xy-grid-container;
  height: 60px;

  a,
  a:visited {
    color: white;
  }

  .logo {
    margin-right: $global-margin;
  }

  .logo-img {
    margin-bottom: .4rem;
    position: relative;
    height: 20px;

    @include breakpoint(large) {
      height: 20px;
    }
  }

  .shop {
    border-left: .01rem solid lighten($primary-color, 20);
    padding-left: 1rem;
    padding-top: .2rem;
    display: none;

    @include breakpoint(large) {
      display: inline;
    }

    .refer {
      @include font-size(1.1);
      display: block;
    }

    .name {
      @include font-size(1.4);
      display: block;
    }
  }

  .user-block {
    .user:hover {
      cursor: pointer;
    }
  }

  .search {
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  .search__open::before {
    content:"\A";
    border-style: solid;
    border-width: 7px 8px 7px 0;
    border-color: transparent white transparent transparent;
    transform: rotate(90deg);
    position: absolute;
    left: 30%;
    bottom: -22px;
  }
}
