.wser-menu {
  display: inline-block;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  z-index: 9999;
}

.wser-submenu {
  box-shadow: 0 0 5px hsla(0, 0, 70%, .5);
  font-weight: $global-weight-normal;
  margin-top: 16px;
  padding: $global-padding;
  text-transform: none;

  hr {
    margin: $global-margin 0;
  }

  li {
    padding-bottom: .5rem;

    &:last-child {
      padding: 0;
    }
  }

  a,
  a:visited {
    @include font-size(1.4);
    color: $black;

    &:hover {
      color: $primary-color;
    }
  }

  &::before {
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 7px 8px 7px 0;
    content: '\A';
    left: 2rem;
    position: absolute;
    top: -.6rem;
    transform: rotate(90deg);
  }
}

.service-submenu {
  @extend .wser-submenu;
  margin-top: 0;
  left: 0 !important;

  &::before {
    content: '';
    border: 0;
  }
}

.user-block {

  .wser-submenu::before {
    left: .2rem;
  }

  .title {
    @include font-size(1.2);
    color: $medium-gray;
    display: block;
    font-weight: 500;
  }

  .name {
    @include font-size(1.4);
    color: darken($medium-gray, 20);
  }
}

.partners-menu {

  .partner-logo {
    display: inline-block;
    width: 3rem;
  }

  .title {
    display: inline-block;

    a {
      @include font-size(1.5);
    }
  }
}
